/*SLIDER*/
.slider{
	background-image: url("../assets/heading.jpg");
	height: 400px;
	position: relative;
	margin-bottom: 20px;

	.title{
		position: absolute;
		height: 40px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		h1{
			text-align: center;
			color: white;
		}
	}

	.search{
		position: absolute;
		width: 75%;
		height: 40px;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;

		input{
			width: 70%;
			height: 40px;
			border: none;

		}

		input[placeholder] {	
				padding-left: 10px;
			}

		button{
			width: 30%;
			height: 40px;
			float: right;
			border: none;
			background-color: $seccolor;
		}
		button:hover{
			background-color: $seccolor_highlight;
		}
	}
	
}
/*FIN SLIDER*/