/*SLIDER*/
.slider{
	background-image: url("../assets/heading.jpg");
	height: 400px;
	position: relative;
	margin-bottom: 20px;
	text-align: center;

	.title{
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: -37px auto 0;
		color: white;

	}

	.search{
		position: absolute;
		width: 75%;
		height: 40px;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;

		input{
			width: 70%;
			height: 40px;
			border: none;

		}

		input[placeholder] {	
				padding-left: 10px;
				color: #dedede;
			}
		input:hover{
			background-color: $thirdcolor;
			color: white;
		}

		button{
			width: 30%;
			height: 40px;
			float: right;
			border: none;
			background-color: $seccolor;
			color: white;
		}
		button:hover{
			background-color: $seccolor_highlight;
		}
	}
	
}
/*FIN SLIDER*/