/*Arreglos multiples en mediQueries*/

@media (max-width: 950px) {
  .footer .footer_wrapper .footer_box{
  	width: 100%
  }

  .header{
  	height: 150px;
  }
  .header .left_panel{
  	text-align: center;
  	width: 100%;
  	display: block;
  	height: 90px;
  	float: left;
  }

  .header .left_panel{
  	width: 100%;
  	margin: 0 auto;

  }

  .header .main_title{
    display: none;
  }

  .header .right_panel{
  	width: 100%;
  	float: left;
  	text-align: center;
  }

  .logo{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
  }

}
